body {
    margin: 0;
    background-color: #c2748f;
    color: #885454;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1{
    color:#3f3131;
    text-align: center;
    /*background-color: bisque; */
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;

  }
  
  code {
    font-family: Arial;
  }
  .content {
    max-width: 500px;
    margin: auto;
  }
  
  .app {
    background: #c2748f;
    padding: 30px;
    height: 100vh;
  }
  
  .todo-list{
    background: #a15c5c;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
  }
  
  .todo{
    background: #e3c3c3;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .input{
    width: 100%;
    background: #e3c3c3;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }
  